<div class="container-fluid">

    <h1>Adjust Rental</h1>
    <div class="btn btn-success" (click)="onBack()">Back</div>
    <div class="form-horizontal col-md-4">
        <div *ngIf="!rental"><i>Loading...</i></div>
        <div *ngIf="rental">
            <div class="form-group">
                <label for="description">Description</label>
                <span id="description">{{rental.description}}</span>
            </div>
            <div class="form-group">
                <label for="old-price">Old Price</label>
                <span id="old-price">{{rental.price}}</span>
            </div>
            <div class="form-group">
                <label for="price">Adjust Price</label>
                <input type="text" class="form-control" id="price" [(ngModel)]="adjustPrice.newPrice"/>
            </div>
            <div class="form-group">
                <label for="reason">Reason</label>
                <textarea class="form-control" id="reason" [(ngModel)]="adjustPrice.reason"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" style="float: right;" (click)="post()">Adjust</button>
        </div>
    </div>
</div>